# Dependencias
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Ambiente
.env

# Logs
logs/
*.log

# Sesión de WhatsApp
whatsapp-session/
.wwebjs_auth/
.wwebjs_cache/

# IDE
.idea/
.vscode/
*.code-workspace

# Sistema operativo
.DS_Store
Thumbs.db 